* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff; /* Azul claro */
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h2 {
    color: #000;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    color: #000;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#statusOutput {
    margin-top: 20px;
    color: #007BFF;
    font-size: 16px;
}
